<!DOCTYPE html>
<html>
    <head>
        <title>Django BOY blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django BOY Blog [DBB]</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Once upon a time.</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
	    <p> I forgot to drink a cup of coffee </p>
        </article>
    </body>
</html>

